.profile {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.profile h1 {
	margin: 40px 0 60px 0;
	font-family: 'Cairo', sans-serif;
	font-weight: 300;
	padding: 10px;
	border: 3px solid transparent;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

h1:hover {
	border: 3px solid #ccc;
}

h1 span {
	padding: 10px;
	font-weight: 700;
	border-bottom: 3px solid #ccc;
}

.profile-text {
	margin-bottom: 20px;
}

.hagz {
	margin-bottom: 20px;
}

.error-message {
	color: #f02849;
	align-self: center;
	font-size: 20px;
}

.error-message i {
	font-size: 20px;
	margin-right: 5px;
}

.success-message {
	color: rgb(94, 241, 94);
	align-self: center;
	font-size: 20px;
}

.success-message i {
	font-size: 20px;
	margin-right: 5px;
}

@media (max-width: 1025px) {
	.profile h1 {
		margin: 10px 0 20px 0;
	}
}

@media (max-width: 775px) {
	.profile h1 {
		margin: 0px 0 20px 0;
	}
}

@media (max-width: 485px) {
	.profile h1 {
		font-size: 20px;
	}
}
