@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Ubuntu', sans-serif;
	background-color: #060417;
	color: white;
}

/* .main::after,
.main::before {
	content: '';
	width: 28.125rem;
	height: 28.125rem;
	border-radius: 28.125rem;
	-webkit-border-radius: 28.125rem;
	-moz-border-radius: 28.125rem;
	-ms-border-radius: 28.125rem;
	-o-border-radius: 28.125rem;
	background-color: #7c66e3;
	position: absolute;
	z-index: -1;
	filter: blur(225px);
	-webkit-filter: blur(225px);
} */
