.students-card div {
	color: white;
}

.table {
	margin-bottom: 20px;
}

@media (max-width: 775px) {
	.table {
		width: 700px;
	}
}

@media (max-width: 485px) {
	.table {
		width: 400px;
	}
}

@media (max-width: 400px) {
	.table {
		width: 350px;
	}
}
